world=/home/terraria/.local/share/Terraria/Worlds/World.wld
autocreate=3
seed=AwesomeSeed
worldname=World
difficulty=1
maxplayers=32
port=7777
password=p@55w0rd*
motd=Please don’t cut the purple trees!
banlist=/home/terraria/.local/share/Terraria/banlist.txt
secure=1
language=en-US
upnp=1
npcstream=60
priority=1
journeypermission_time_setfrozen=1
journeypermission_time_setdawn=1
journeypermission_time_setnoon=1
journeypermission_time_setdusk=1
journeypermission_time_setmidnight=1
journeypermission_godmode=1
journeypermission_wind_setstrength=1
journeypermission_rain_setstrength=1
journeypermission_time_setspeed=1
journeypermission_rain_setfrozen=1
journeypermission_wind_setfrozen=1
journeypermission_increaseplacementrange=1
journeypermission_setdifficulty=1
journeypermission_biomespread_setfrozen=1
journeypermission_setspawnrate=1

